html {
  margin: 0;
  padding: 0;
  background-color: #161616;
  color: #ccc;
}

a.go-to-gallery {
  display: block;
  width: 300px;
  padding: 1em 2em;
  text-align: center;
  margin: 4em auto;
  color: #ccc;
  font-size: 2em;
  background-color: #262626;
  border-radius: 5px;
}

a.go-to-gallery:hover {
  background-color: #266626;
}

.signin-box {
  width: 300px;
  margin: auto;
  padding: 2em;
  border-radius: 0.3em;
  background-color: #363636;
}

.signin-box > input {
  display: block;
  padding: 1em;
  width: 90%;
  margin: 1em auto;
  border: 3px solid transparent;
  border-radius: 0.2em;
}

.signin-box > input:focus {
  border-color: #0a0;
  border-width: 3px;
}

.signin-box > button {
  display: block;
  padding: 1em;
  width: 50%;
  margin: 1em auto;
  border: 1px solid black;
  border-radius: 0.2em;
  background-color: #ccc;
}

.signin-box > button:hover {
  background-color: #cdc;
  cursor: pointer;
}

img.nope {
  width: 256px;
  margin: 2em auto;
  display: block;
}

footer > a {
  font-size: 0.8em;
  margin-left: 1em;
  padding: 0.1em 0.8em;
  background-color: #60b5cc;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
}

footer > a:hover {
  background-color: #cc60b6;
  color: #ccc;
}

.breadcrumb {
  margin-left: 1em;
  padding: 0.5em 0.5em;
  font-size: 1.3em;
  display: inline-block;
}

.breadcrumb > a {
  color: #ccc;
  padding: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumb > a:hover {
  color: #fac;
  cursor: pointer;
}

.breadcrumb > a::after {
  content: " â¯";
}

.file-list .file {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 1.2em 1em;
  text-align: center;
}

.file-list .file > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.folder-list {
  margin-left: 1em;
}

.folder-list a.folder {
  background: #333;
  color: #ccc;
  display: inline-block;
  padding: 0.2em 0.5em;
  text-decoration: none;
  border-radius: 4px;
  margin: 0.2em;
}

.folder-list a.folder:hover {
  color: #fac;
}

.enlarge-popup {
  position: absolute;
  top: 0.3em;
  bottom: 0.3em;
  left: 0.3em;
  right: 0.3em;
  background-color: #111111fc;
  padding: 0.3em;
}

.enlarge-popup > img {
  object-position: center;
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.enlarge-popup > span {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  background-color: #444;
  cursor: pointer;
}

.enlarge-popup > span:hover {
  background-color: #fac;
}

.enlarge-popup > span > img {
  width: 2em;
  height: 2em;
}
