html {
  margin: 0;
  padding: 0;
  background-color: #161616;
  color: #ccc;
}

footer > a {
  font-size: 0.8em;
  margin-left: 1em;
  padding: 0.1em 0.8em;
  background-color: #60b5cc;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
}

footer > a:hover {
  background-color: #cc60b6;
  color: #ccc;
}